.border-rounded {
    border-radius: .25rem;
}
.border-rounded-top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.border-rounded-pill {
    border-radius: 50rem;
}
.border-rounded-circle {
    border-radius: 50% ;
}
