.border-rounded {
    border-radius: .25rem;
}
.border-rounded-top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.border-rounded-pill {
    border-radius: 50rem;
}
.border-rounded-circle {
    border-radius: 50% ;
}

.border {
    border: 1px solid #dee2e6!important;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}

.border-right {
    border-right: 1px solid #dee2e6!important;
}

.border-left {
    border-left: 1px solid #dee2e6!important;
}

.border-0 {
    border: 0;
}

.border-top-0 {
    border-top: 0;
}

.border-bottom-0 {
    border-bottom: 0;
}

.border-right-0 {
    border-right: 0;
}

.border-left-0 {
    border-left: 0;
}

.border-outline-0 {
    outline: 0;
}

