
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-baseline {
    align-items: baseline;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-self-center {
    align-self: center;
}
