$primary-color : #50a5f1;

$secondary-color : #f9f9f9;

$dark-secondary: #f3f3f9;

$white-color : #fff;

$black-color : #000;

$orange-color: #f46a6a;

$transparent : transparent;

$text-secondary : #707070;

$placeholder-text : #929292;

