@import "./utils/variables.scss";

.bg-primary {
    background-color: $primary-color !important;
}
.bg-secondary {
    background-color: $secondary-color !important;
}
.bg-white {
    background-color: $white-color !important;
} 
.bg-dark-secondary {
    background-color: $dark-secondary !important;
}

.bg-transparent {
    background-color: $transparent !important;
}
.bg-orange {
    background-color: $orange-color !important;
}

