$primary-color : #50a5f1;
$secondary-color : #f9f9f9;
$white-color : #fff;


.bg-primary {
    background-color: $primary-color;
}

.bg-secondary {
    background-color: $secondary-color;
}
.bg-white {
    background-color: $white-color;
} 





