*, :after, :before {
    box-sizing: border-box;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.woff") format("woff"),
	url("../fonts/Poppins-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Medium.woff") format("woff"),
	url("../fonts/Poppins-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-SemiBold.woff") format("woff"),
	url("../fonts/Poppins-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

html {
    line-height: 1.7;
}

body {
    margin: 0;
    font-family: "Poppins";
    font-weight: normal;
	font-style: normal;
    margin: 0;
    scroll-behavior: smooth;
}
 h1, .h1 {
	font-size: 2.5rem;
}
  h2, .h2 {
	font-size: 2rem;
  }
  h3, .h3 {
	font-size: 1.75rem;
  }
   h4, .h4 {
	font-size: 1.5rem;
  }
  h5, .h5 {
	font-size: 1.25rem;
  }
  h6, .h6 {
	font-size: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
  }
  h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
 }
 p {
	margin-top: 0;
	margin-bottom: 1rem;
  }
  
  
  
  
  


button {
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
    width: 100%;
}


