@import './utils/variables.scss';

.input-field {
    padding: 9px 20px;
    border-radius: 4px;
    border: 1px solid $black-color;
    &::placeholder {
        color: $placeholder-text;
    }
}


.secondary-form-group {
    
    .secondary-field-label {
        font-size: 13px;
        font-weight: normal;
        color: $black-color;
    }
    .secondary-input-field-container {
        box-shadow: -2px 4px 6px 0 rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        padding: 10px 15px;
        .secondary-input-field {
            &:focus {
                outline: 0;
            }
            border: 0;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
    
            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }
        }

        .input-question-container {
        
            .input-question-mark-icon {
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: #929292;
                font-size: 10px;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                line-height: 1rem;
                color: white;
                padding-top: 1px;
            }
        }
    }
    
}


.small-size-form-group-container {
    width: 50px;

    input {
        border: 0;
        border-bottom: 1px solid #707070;
        width: 25px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type=number] {
            -moz-appearance: textfield;
        }

        &:focus {
            outline: none;
        }
    }

    

}


.custom-checkbox-field-cotnainer {
    input {
        width: auto !important;
    }

    .custom-checkbox-field-label {
        font-size: 14px;
        font-weight: normal;
    }
} 


.custom-selection-input-container {
    .custom-selection-input-label {
        font-size: 13px;
        font-weight: normal;
        color: $black-color;
    }
    .custom-selection-input-field {
        box-shadow: -2px 4px 6px 0 rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        padding: 10px 15px;
        border: 0;
        &:focus {
            outline: 0;
        }

    }
}

.option-field-container {
    .option-input-field-label {
        font-size: 13px;
        font-weight: normal;
        color: $black-color;
    }

    .option-name {
        max-width: 15%;
        box-shadow: -2px 4px 6px 0 rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        margin-left: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    

    .option-input-field > input {
        box-shadow: -2px 4px 6px 0 rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        padding: 10px 15px;
        border: 0;
        &:focus {
            outline: 0;
        }

    }
}

.primary-form-group {
    
    .primary-field-label {
        font-size: 13px;
        font-weight: normal;
        color: $black-color;
    }
    .primary-input-field-container {
        box-shadow: -2px 4px 6px 0 rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        padding: 10px 15px;
        .primary-input-field {
            &:focus {
                outline: 0;
            }
            border: 0;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
    
            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }
        }

        .input-question-container {
        
            .input-question-mark-icon {
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: #929292;
                font-size: 10px;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                line-height: 1rem;
                color: white;
                padding-top: 1px;
            }
        }
    }
    
}

.textarea-form-group {
    
    .textarea-field-label {
        font-size: 13px;
        font-weight: normal;
        color: $black-color;
    }
    .textarea-input-field-container {
        box-shadow: -2px 4px 6px 0 rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        overflow: hidden;
        background-color: #fff;
        padding: 10px 15px;
        .textarea-input-field {
            &:focus {
                outline: 0;
            }
            border: 0;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
    
            /* Firefox */
            &[type=number] {
                -moz-appearance: textfield;
            }
        }

        .input-question-container {
        
            .input-question-mark-icon {
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: #929292;
                font-size: 10px;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                line-height: 1rem;
                color: white;
                padding-top: 1px;
            }
        }
    }
    
}