.prodcut-list-title-container {
    
    .prodcut-list-img-container {
        min-width: 50px;
        min-height: 50px;
        img {
            display: block;
            width: 100%;

        }
    }
}